/*=======================
        GENERALS
========================*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
}


/*=======================
        ACHTUNG. LÖSCHEN
========================*/
section {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    width: 80vw;
    margin: auto;
    border-radius: 2%;
    margin-top: 10vh;
}



/*=======================
        EINGABEN
========================*/
section h2 {
    font-size: 4rem;
    padding: 1.7vh 0;
    text-align: center;
}

section div {
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
    margin: 2.3vh 10vw;
}

section div input {
    width: 15vw;
    height: 3.8vh;
    border-radius: 5%;
    border: 2px solid rgb(180, 180, 180);
    margin-left: 1vw;
}

section div #groesse {
    color: black;
}

